		*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
		color: #333;
		font-family: Manrope;
		font-weight: 400;
}

	#container{
	 margin: 0 auto;
    max-width: 1100px;
    width: 90%;}
	
	.clear{ clear: both; }	
	
                            /**ENTETE **/


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f8f8;
}

.langues{
	margin-left: 30px;
	width: 250px;
	height: auto;
}
.langues ul{
	padding: 10px;
    list-style-type: none;
}

.langues ul li{
    float: left;
    width: 30%;
    text-align: center;
    position: relative;
}

.langues  ul::after{
    content: "";
    display: table;
    clear: both;
}

.langues  a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

.langues  a:hover{
    color: orange;
    border-bottom: 2px solid gold;
}

.sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

.langues  > ul li:hover .sous{
    display: block;
}

.sous li{
    float: none;
    width: 100%;
    text-align: left;
}

.sous a{
    padding: 5px;
    border-bottom: none;
}

.sous a:hover{
    border-bottom: none;
}

.deroulant > a::after{
    content:" ▼";
    font-size: 10px;
}

.header-logo img {
    margin-left: auto;
    max-width: 300px; 
}

                                        /** HEADER DROITE**/
/* HEADER DROITE BARRE DE RECHERCHES + ICONES */


.header-droite {
        padding: 20px;
	margin-left: auto;
    display: flex;
    align-items: center;
}

	input[type="text"]{
    padding: 0.8em 0.9em;
    border:2px solid #605d5d;
    border-radius: 0.2em;
    outline: none;

}

.icon{
    fill: #333;
     width: 30px;
    height: 20px;
}

.icones-header {
    margin-left: 10px;
}
.barrederecherche {
    padding: 5px;
    margin-right: 10px;
}


                            /**MEDIA QUERY EN TETE**/
                            /* Styles pour les écrans de moins de 768px */
@media (max-width: 768px) {
    
.header {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    position: relative;
    width: 100%;
    height: auto; 
    padding: 20px; 
}

.header-logo {
    position: relative; 
    margin: 20px 0; 
}

.header-logo img {
    max-width: 400px; 
}

.header-droite {
    position: relative;
    padding: 10px;
    width: 100%; 
    text-align: center;
}

.langues {
    font-size: 12px; 
    position: relative; 
    top: 130px;
    right: 80px;
    margin: 10px 0; 
    text-align: center; 
}

.barrederecherche {
    width: 80%; 
    margin: 10px auto; 
}

.barrederecherche .icon {
    padding: 10px;
}

.icones-header {
    text-align: center;
    padding: 10px;
    margin-left: 0;
}
}/* Fin Media Query */
		


	                        /**ANIMATION ON HOVER**/
nav {
    background: #555;
    text-align: center;
    width: 100%;
    position: sticky;
    top: 0px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin: 0;
}

nav ul li a {
    display: inline-block;
    text-decoration: none;
    padding: 15px;
    color: #fff;
    min-height: 30px;
    line-height: 30px;
    transition: 0.6s;
}

nav ul a:hover {
    background: #bcaa6f;
    text-decoration: none;
    border-bottom: 1px solid gold;
}

/* MENU BURGER */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 3px 0;
}

                                    /**MEDIA QUERY MENU BURGER **/
                                /* Styles pour les tablettes et telephones */
@media (max-width: 768px) {
    
nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
}

nav ul.active {
    display: flex;
}

nav ul li {
    display: block;
    text-align: left;
}

.menu-toggle {
    display: flex;
}
}  /* Fin Media Query Menu Burger*/
	
.img-diapo{
	width: 100%;
  	height: 400px;
}

                                    /**MEDIA QUERY IMG DIAPO CARROUSEL **/
                                    /* Styles pour les écrans de moins de 768px */
@media (max-width: 768px) { 
    

.img-diapo {
    height: 230px; 
}
}

                                    /* Styles pour les écrans de moins de 480px */
@media (max-width: 480px) { 
    
.img-diapo {
    height: 180px; 
}
}



                            /**SECTION**/

section{
	margin:0 auto;
		
}

section p{
    padding: 10px;
	text-align:justify;
	font-size: 16px
}

                                    /* Styles pour les écrans de moins de 768px */
@media (max-width: 768px) {
    section p {
        font-size: 14px;
    }
}



                                    /* Styles pour les écrans de moins de 480px */
@media (max-width: 480px) {
    section p {
        font-size: 12px;
    }
}/* Fin Media Query Section*/


                            /**MAIN**/
.hotel-intro{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.titre-intro{
    font-size: 60px;
    padding: 20px;
    text-align: center;
}

.p-hotel{
      width: 755px;
    margin: auto;
    padding: 10px;
    text-align: center;
}


                                    /* Styles pour les écrans de moins de 768px */
@media (max-width: 768px) {

.titre-intro {
    font-size: 40px; 
    padding: 15px;
}

.p-hotel {
    font-size: 15px;
    width: 90%;    

}
}

                                    /* Styles pour les écrans de moins de 480px */
@media (max-width: 480px) {

.titre-intro {
        font-size: 30px;
        padding: 10px;   
}

.p-hotel {
    width: 95%;    
}
}/* Fin Media Query Main titre et p */


                            /**MAIN INTRO SERVICES**/
.intro-services{
    margin-bottom: 4rem;
    article{
        h2{
            margin: 1em 0;
        }
        & > div{
            display: flex;
            gap : 20px;
            div{
                 width: 49%;
            }
        }
        img{
            width: 49%;
			padding: 15px;
        }
        p{
            margin-bottom: 1em;
        }
    }
}

                                    /* Styles pour les écrans de moins de 768px */
@media (max-width: 768px) {

    
.intro-services article > div {
    flex-direction: column; 
    padding: 40px;
}

.intro-services article > div div {
    width: 100%;
}

.intro-services article img {
    width: 100%; 

    
}
}/* Fin Media Query Main Intro Services  */

div a {
    text-decoration: none;
}



                            /**ANIMATION BUTTON ON HOVER **/
	.btn2{
    border-radius: 1em;
    border:none;
	background: #bcaa6f;
    color :#ffffff ;
    padding: 0.6em 0.7em;
    cursor: pointer;
    transition: all 0.7s;
    }
    .mtop2{
        margin-top: 10px;
    }
    .btn-size2{
    font-size: 0.9rem;
}
.btn2:hover{
    outline: 1px solid black;
    color : rgb(0, 0, 0);
}

                                    /* Styles pour les écrans de moins de 768px */
@media (max-width: 768px) {
.intro-services .btn-size2{
    margin: 34%;
 }
}/* Fin Media Query Main Button   */

@media (max-width: 480px) {
.intro-services .btn-size2{
    margin: 23%;
 }
}/* Fin Media Query Main Button   */
hr{
    width: 50%;
    margin: 0 auto;
    border: none;
    border-top: 2px solid #8e6b45; 
}

@media (max-width: 768px) {
hr{
    width: 60%;
}
}/* Fin Media Query Main HR   */



                            /**MAIN CONTACT SECTION**/
.contact-section {
	display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
	padding: 20px;			
} 

.contact-section h1 {
    font-size: 40px;
}

.contact-section li {
    list-style-type: none;
    padding: 5px;
}
.contact-section li a {
    color: #333;
    text-decoration: none;
}

.contact-section p {
	margin: 15px;
	width: 500px;
	text-align: center;
	padding: auto;
}

                                    /* Styles pour les écrans de moins de 768px */
@media (max-width: 768px) {
.contact-section{
align-items: flex-start;
}
    .contact-section h1 {
        font-size: 30px;
        align-self: center;
        padding: 10px;
    }
    .contact-section button {
    
        margin: 20px;
        margin-left: 33%;
 
    }
    .contact-section iframe{
        width: 100%;
        height: 300px;
    }
}/* Fin Media Query Main Contact Section   */

@media (max-width: 480px) {
.contact-section button {
      margin: 20px;
        margin-left: 20%;
 
 }
}/* Fin Media Query Main Button   */


                    /**FOOTER**/


        	
footer{
    font-size: 15px;
	color: #fff;
	background: #5e5e5f;
	padding: 15px ;
	text-align:center;
} 

footer  ul {
    list-style-type: none;
}
    
a{
	color:#ffffff;

}

    
footer h3 {   
    color: white;
}
    	
footer ul a:hover{
	color: #bcaa6f;
	text-decoration: none;
    border-bottom: 1px solid gold;
}

.gap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px;
}



                    /**ANIMATION BUTTON FOOTER ON HOVER**/
.btn{
    border-radius: 1em;
    border:none;
    color :#555 ;
    padding: 0.6em 0.7em;
    cursor: pointer;
    transition: all 0.7s;
}

                    /**MEDIA QUERY FOOTER BUTTON**/
@media (max-width: 768px) {


    .gap .btn{
        margin-right: 20px;
    }
}/*Fin Media Query footer button*/
    
.mtop{
    margin-top: 10px;
}


.btn-size{
    font-size: 0.9rem;
}

.btn:hover{
    background: #bcaa6f;
    outline: 1px solid black;
    color : white;
}
